.page-header
  %h1 Settings
  %h1.pull-right Styles
%table.table.table-striped
  %tr
    %th Key
    %th{width: "40%"} Value
    %th Actions
  - @sings.each do |s|
    %tr
      = form_for s, url: admin_setting_path(s) do |f|
        %td= s.key
        %td= f.text_field :value, class: "form-control"
        %td= f.submit "Update", class: "btn btn-primary"
  - @styles.each do |s|
    %tr
      = form_for s, url: admin_setting_path(s) do |f|
        %td= s.key
        %td= f.text_field :value, class: "form-control"
        %td= f.submit "Update", class: "btn btn-primary"
