:css
  a, a:hover, a:focus, .primary,  a.content-link:hover .content-header{
    color: #{ @settings["COLOR"] };
  }
  .primary, .btn-default.active i.fa, .btn-link.active i.fa {
    color: #{ @settings["COLOR"] }!important;
  }
  .btn-primary, .header-primary, .logo-wrapper{
    color: white;
    background: #{ @settings["COLOR"] };
  }
  .btn-primary {
    border-color: #{ @settings["COLOR"] };
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary.disabled, .btn-primary.disabled:hover{
    color: white;
    border-color: #{ darken_color(@settings["COLOR"], 0.8) };
    background: #{ darken_color(@settings["COLOR"], 0.8) };
  }
  .landing-page{
    / background-image: url("/img?url=#{ @settings["BACKGROUND_URL"] || "http://sfbay.doers.io/backgrounds/default.jpg" }");
    / background-image: url("/backgrounds/gt-bg.jpg");
    / background-repeat: no-repeat;
    / background-size: cover;
    / background-position: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa443+1,ff5000+100&0+1,0.7+66,0.7+100 */
    / background: -moz-linear-gradient(top, rgba(255,164,67,0) 1%, rgba(255,109,23,0.7) 66%, rgba(255,80,0,0.7) 100%); /* FF3.6-15 */
    / background: -webkit-linear-gradient(to bottom, rgba(255,164,67,0) 1%,rgba(197, 96, 37, 0.7) 66%,rgba(181, 75, 27, 0.7) 100%);

    / background: linear-gradient(to bottom, rgba(255,164,67,0) 1%,rgba(197, 96, 37, 0.7) 66%,rgba(181, 75, 27, 0.7) 100%);
    / filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffa443', endColorstr='#b3ff5000',GradientType=0 ); /* IE6-9 */
  }
  .landing-page .intro{
    color: #{ @settings["COLOR"] };
  }
  #sidebar, .cool-plus-button, .landing-page .landing-hr, .landing-page a.btn-large {
    background-color: #{ @settings["COLOR"] };
  }
  .landing-page a.btn-large:hover{
    background-color: #{ darken_color(@settings["COLOR"], 0.9) };
  }

  .tag-icon {
    background-color: #{ @settings["COLOR"] };
  }
:javascript
  var settings = #{ @settings.to_json};